

#main{
text-align: center;
}

body{
	background-image:url('../images/b1.png');
	margin-left: 20%; 
	margin-right: 20%; 
	margin-top:20%;
}


footer{
	margin-bottom:10%;
	text-align: center;
    vertical-align: bottom;
}


h1{
	color:white;
	text-align: center;
}

h2{	
	text-align: center;
}