

#main{
text-align: center;

}

body{
	background-image:url('../images/b1.png');
	margin-left: 20%; 
	margin-right: 20%; 
}


footer{
	margin-top:20%;
	text-align: center;
    vertical-align: bottom;
}


h1{
	color:white;
    font-weight:200;
	
	text-align: center;
	font-size:1000%;
}

h2{	
	text-align: center;
}