

#main{
text-align: center;
}

body{
	background-image:url('../images/b1.png');
	margin-left: 20%; 
	margin-right: 20%; 
	margin-top:10%;
}


footer{
	text-align: center;
    vertical-align: bottom;
}


h1{
	text-shadow: 0 0 6px #000;
	color:white;
	font size="24";
	max-width:100%;
	text-align: center;
}

h2{	
	text-align: center;
}

#projects{
	margin-bottom:10%;
}